body,
* {
    font-family: '微软雅黑', 'Airay';
    margin: 0;
    padding: 0;
}

.blue {
    color: blue;
}

.red {
    color: red;
    text-shadow: 1px 1px 5px #ff7171;
}

.green {
    color: #6200ff;
    text-shadow: 1px 1px 5px #ff7171;
}

button {
    padding: 8px 15px;
    border: none;
    display: inline;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

button.success {
    background: #1bab1b;
    color: #fff;
}

button.error {
    background: #ff5151;
    color: #fff;
}

button.primary {
    background: rgb(245, 245, 245);
}

.CanKaoBanZiTi {
    font-size: 18px;
}

.XieZiBan {
    /* border: 1px solid #eee; */
    padding: 10px;
}

.CanKao {
    letter-spacing: 1PX;
    text-align: justify;
}

.XieZiBan input {
    border: none;
    font-family: 'Airay', '微软雅黑';
    width: 100%;
    font-size: 18px;
    border-bottom: 1px dashed #424242;
    outline: none;
    padding: 10px 0;
    padding-top: 5px;
    letter-spacing: 1PX;
    text-align: justify;
    /*color: #fff;*/
    caret-color: black;
    height: 28px;
    margin: 5px 0;
    border-radius: 2px;
    background: none;
}

input:focus {
    outline: none;
}

body {
    filter: gray;
}

body {
    font-size: 18px;
}

#app {
    position: relative;
    z-index: 1;
}

.layout {
    width: 800px;
    margin: 10px auto;
    background: rgba(255, 255, 255, .6);
    border-radius: 5px;
    padding: 20px;
}

.Tabsyz {}

.Tabsyz ul {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.Tabsyz ul li {
    list-style: none;
    float: left;
}

.Tabsyz ul li a {
    padding: 5px 16px;
    text-decoration: none;
    display: inline-block;
    background: #ffffff85;
    margin-right: 10px;
    color: #ff7777;
    border: 1px solid #ffc0c0;
    border-radius: 3px;
}

.Tabsyz ul li a.active {
    background: #ff4e4e;
    color: #fff;
    border-color: red;
}

.NeiRong {
    position: relative;
}

.main {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.PositionWord {
    display: none;
    letter-spacing: 5PX;
    text-align: justify;
    position: absolute;
    top: 5px;
    left: 0px;
}

#ZheZhao {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(255, 255, 255, .8);
    font-size: 30px;
    color: #ff00c8;
    text-align: center;
    line-height: 362px;
}

.bgBingYing {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    /* background: url('./images/bg/0.jpg') no-repeat center #000; */
    background-size: cover;
    background-attachment: fixed;
}

#QiTaGongNeng {
    position: fixed;
    z-index: 4;
    left: 0;
    height: 100%;
    width: 100px;
    background: #0000004f;
    top: 0;
    padding: 20px 0;
}

.compareword {
    font-size: 14px;
    background: #ffe1ee;
    padding: 10px;
    border: 1px solid #ff57d2;
    border-radius: 3px;
    color: #65666d;
    margin: 10px 0;
}

#app .QianDuanBiaoTi {
    margin: 10px auto;
    font-size: 20px;
    font-weight: 800;
    color: #4e4e4e;
}

.HuanFu {
    /* position: relative; */
    margin: 10px auto;
    /* border: 1px solid #ffffff26; */
    width: 80%;
}

.HuanFu .img {
    /* height: 113px; */
    text-align: center;
}

.HuanFu .img img {
    width: 75px;
    height: 75px;
    /* text-align:  center; */
    display: block;
    border: 1px solid #ffffff26;
    border-radius: 50%;
}

.jshiqi_con {
    margin: 10px 0;
}

.HuanFu .h {
    /* position: absolute; */
    /* top: 7px; */
    /* right: 29px; */
    /* width: 71px; */
    padding: 6px 0px;
    text-align: center;
    background: #ff5151;
    border-radius: 3px;
    margin-top: 10px;
    color: #ffffff;
    /* border: 1px solid #4646466b; */
    font-size: 12px;
}

#QiTaGongNeng #BgListcc {
    position:  absolute;
    top: 0;
    left:  50px;
    background:  red;
    width:  100px;
}
#QiTaGongNeng #BgListcc ul{
}
#QiTaGongNeng #BgListcc ul li{
    display:  block;
    float:  none;
    text-align:  center;
}
#QiTaGongNeng #BgListcc ul li .Bgli_img{}
#QiTaGongNeng #BgListcc ul li .Bgli_img img{
    width:  50px;
    height:  50px;
    border-radius: 50%;
}
#QiTaGongNeng #BgListcc ul li .Bgli_tit{}